@import url('../css/fonts.css');

html, body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* Theme colors */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --starbackground: #123981;


  /* theme font families */
  --Abel: 'Abel', cursive;
}

/* Global classes */

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
}

h1 {
  font-family: Lexend;
  font-size: 2.5rem;
}

h3 {
  font-family: Abel;
  font-size: 1.8rem;
}

h2 {
  font-family: Lexend;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: Livvic;
  cursor: pointer;
}

canvas {
  position: relative;
  top:0;
  left:0;
  height: 80vh;
  width: 100%;
  z-index: 1;
}
 
/* Global classes -- x */

/* Nav */

.nav {
  background: white;
  padding: 0.2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 1rem;
}

.collapse {
  height: 20rem;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  font-family: var(--Abel);
  font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
  background-color: var(--starbackground);
}

.nav .nav-items .nav-link:hover a{
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  font-family: Lexend_Deca;
  font-size: 1.6rem;
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social {
  padding: 1.4rem;
}

.nav .social i:hover {
  color: var(--starbackground);
}

/* Nav --x */

/* Main content */
main .site-title {
  background:var(--starbackground);
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

.main .site-title {
  display: inline-block;
  position: relative;
}

.site-brand-text {
  margin: 20vh;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  z-index: 2;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--white);
}

main .site-title h1, h3 {
  margin: .3rem;
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* Floating animation */
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
/* Floating animation --x */

/* Main content ---x */

/* Viewport <= 750px */
@media only screen and (max-width: 750px) {
  .nav .nav-menu, .nav .nav-items {
    flex-direction: column;
  }

  .nav .social {
    margin-bottom: 2rem;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}