@import url('../css/fonts.css');

html, body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* Theme colors */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --starbackground: #123981;
  --darkbluegradient: linear-gradient(to top, black 0%, black 1%, #123981 100%);
  --greyishblack: #232528;
  --manatee: #99A2AD;

  /* theme font families */
  --Abel: 'Abel', cursive;
}

/* Global classes */

a {
  text-decoration: none;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
}

h1 {
  font-family: Abel;
  font-size: 2.5rem;
}

h3 {
  font-family: Abel;
  font-size: 1.8rem;
  color: var(--white);
}

h2 {
  font-family: Lexend;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: Livvic;
  cursor: pointer;
}

canvas {
  position: relative;
  top:0;
  left:0;
  height: 80vh;
  width: 100%;
  z-index: 1;
}

span {
  font-family: Abel;
  display: block;
  color: var(--white);
}
 
.container {
  margin: 0 5vw;
}

i:hover {
  color: #B4C7F9;
}

.section-header > span {
  font-size: 3rem;
  padding-bottom: 2rem;
}

img:hover {
  transform: scale(1.03);
}

/* Global classes -- x */

/* Nav */

.nav {
  background: var(--starbackground);
  padding: 0.2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 1rem;
}

.collapse {
  height: 20rem;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  font-family: var(--Abel);
  font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
  background-color: white;
}

.nav .nav-items .nav-link:hover a{
  color: var(--starbackground);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  font-family: Lexend_Deca;
  font-size: 1.6rem;
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social {
  padding: 1.4rem;
}

.nav .social i:hover {
  color: #B4C7F9;
}

/* Nav --x */

/* Main content */
main .site-title {
  background:var(--starbackground);
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
}

.main .site-title {
  display: inline-block;
  position: relative;
}

.site-brand-text {
  margin: 20vh;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  z-index: 2;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--white);
}

main .site-title h1, h3 {
  margin: .3rem;
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* Search bar */
.search-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: -3.5rem;
}

.search {
  width: 30vw;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid transparent;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: var(--greyishblack);
  font-size: 0.8rem;
}

.searchButton {
  border: none;
  background: var(--white);
  text-align: center;
  color: var(--greyishblack);
  cursor: pointer;
  font-size: 20px;
}

.no-projects-message {
  color: var(--manatee);
  font-family: Abel;
  padding: 2rem;
}

.dropdown {
  margin-top: 2.2rem;
  margin-left: -6.5rem;
  position: relative;
  display: inline-block;
}

.filter-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 8rem;
  overflow: scroll;
}

.filter-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Livvic;
}

.filter-content a:hover {color: var(--starbackground);}

/* Search bar --x */

/* Projects */
.projects {
  background: var(--darkbluegradient);
  padding: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.project-grid > article {
  /* border: 1px solid var(--greyishblack); */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.project-grid > article img {
  max-width: 100%;
}

.project-grid .project-text {
  color: var(--white);
  padding: 2rem;
  font-family: Abel;
  color: var(--manatee);
}

.project-head {
  display: flex;
  justify-content: space-between;
}

.project-head > a {
  padding: 0.9rem;
  font-size: 1.4rem;
  color: var(--white);
}

.btn-projects {
  position: relative;
  background: var(--starbackground);
  margin-bottom: 6rem;
}

/* Projects --x */

/* Blog posts */
.site-content {
  display: grid;
  color: var(--white);
  margin: 0 5rem 0 5rem;
  padding-top: 4rem;
}

.post-content {
  width: 100%;
  background: var(--greyishblack);
  color: var(--white);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.post-content > .post-title {
  padding: 2.5rem 2.5rem;
  position: relative;
}

.post-title > a {
  font-family: Livvic;
  font-size: 1.8rem;
  font-weight: bold;
}

.post-description {
  font-family: Abel;
  font-size: 1rem;
  color: var(--manatee);
}

.post-content > .post-info {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.btn-articles {
  position: relative;
  background: var(--starbackground);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* Sidebar */
.site-content > .sidebar .category-list {
  font-family: Livvic;
}
.site-content > .sidebar .category-list .list-items{
  background: var(--midnight);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
/* Sidebar --x */

/* Blog posts --x */

/* Achievements */
.achievements {
  background: black;
  font-family: Abel;
  color: var(--manatee);
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.achievement {
  padding-bottom: 3rem;
}

.achievement-text {
  font-size: 2rem;
  padding-left: 2rem;
}

.achievement-reference {
  color: var(--starbackground);
  font-size: 1rem;
}

.achievement-description {
  padding-left: 2rem;
  font-size: 1.3rem;
}

/* Achievements */

/* Info */

.info {
  background: black;
  margin: 0;
  font-family: Abel;
  color: white;
  padding-bottom: 8rem;
}

.info-text > p {
  margin: 0;
  padding: 2rem;
  font-size: 1.5rem;
}

.info-action-buttons {
  padding: 2rem;
}

.info-action-buttons > button {
  border-radius: 0;
  background: transparent;
  color: var(--manatee);
  border: 0.2rem solid var(--manatee);
  margin-right: 0.5rem;
}

/* .info-action-buttons > button > a {
  color: var(--manatee);
} */

.info-action-buttons > button:hover {
  border: 0.2rem solid var(--white);
}

.info-grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.profile-img {
  border-radius: 4rem;
}

/* Info --x */

/* Floating animation */
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
/* Floating animation --x */

/* Main content ---x */

/* Viewport <= 750px */
@media only screen and (max-width: 750px) {
  .nav .nav-menu, .nav .nav-items {
    flex-direction: column;
  }

  .nav .social {
    margin-bottom: 2rem;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}